<section>
  <div class="container">
    <header>
      <h1 class="my-5 fw-bold text-center">Supplera Shipper Page</h1>
    </header>
    <hr />
    <div class="row mt-5">
      <a class="col-md-6 border-end text-center py-5" routerLink="/orders">
        <div>
          <h2>Orders List</h2>
        </div>
      </a>
      <a class="col-md-6 text-center py-5" routerLink="/userSell">
        <div>
          <h2>User Selling Products List</h2>
        </div>
      </a>
    </div>
  </div>
</section>
