<div class="container my-5">
  <div class="table-parent bg-white px-3">
    <div class="wrapper">
      <div class="header">
        <div class="search">
          <span>
            <i class="fa-solid fa-magnifying-glass px-3"></i>
          </span>
          <input type="text" placeholder="Search" [(ngModel)]="searchTerm" />
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-dark">
            <i class="fa-solid fa-download"></i>
          </button>
          <button type="button" class="btn btn-outline-dark">
            <i class="fa-solid fa-circle-exclamation"></i>
          </button>
          <button type="button" class="btn btn-outline-dark">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
      <hr />
      <table class="table">
        <thead>
          <th></th>
          <th class="ps-2">Order ID</th>
          <th class="ps-2">Status</th>
          <th class="ps-2">Orderd In</th>
          <th></th>
        </thead>
        <tbody>
          <tr
            *ngFor="let order of ordres; index as index"
            class="xs-small my-row"
          >
            <td>
              <input type="checkbox" />
            </td>
            <td>{{ order._id }}</td>
            <td>
              <span class="p-2 bg-light">{{ order.status }}</span>
            </td>
            <td>
              <p class="m-0">{{ order.createdAt }}</p>
            </td>
            <td>
              <button class="btn bg-main text-white" (click)="accepted = true">
                Accept
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
